<div class="card">
    <div class="card-body">
      

       <!-- 'Sin titulo'--> 
      <h3>Grafica de Ventas</h3>
      <div style="display: block">
          <canvas baseChart
              [data]= "doughnutChartData"
              [labels]= "doughnutChartLabels"
              [colors]= "colors"
              chartType= "doughnut">
          </canvas>
        </div>
      
    </div>
    <div class="card-body">

        <!-- 'Sin titulo'--> 
       <h3>Grafica Dinero</h3>
       <div style="display: block">
           <canvas baseChart
               [data]= "doughnutChartData"
               [labels]= "doughnutChartLabels"
               [colors]= "colors"
               chartType= "doughnut">
           </canvas>
         </div>
       
     </div>

</div>
